:root {
  --primary-color: #00a5ff;
  --primary-light-color: #32c5ff;
  --primary-lighter-color: #50c2ff;
  --success-color: #50b127;
  --error-color: #ff3636;
  --danger-color: #ff3636;
  --warning-color: #ff8a37;
  --info-color: #4871e2;
  --normal-color: #d9d9d9;
  --hot-color: #ff8a37;
  --yellow-color: #fdc920;
  --dark-background-color: #191919;
  --dark-background-higher-color: #222;
  --dark-background-highest-color: #333;
  --dark-color: #fffa;
}
